.body {
    background-color: #003153;
}



.content-wrapper {
    border-radius: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFAFA;
}